/* 풀사이즈로 설정시 */
body{overflow:hidden !important;}
.all_wrap{position:absolute !important;top:0px;bottom:0px;left:0px;right:0px;margin:auto !important;overflow:hidden !important}
.cpage{display:none;height:100% !important;}
.footer{
	position:absolute !important;z-index:90;
	bottom:0;max-height:0px;width:100%;
	transition:max-height 0.5s;
	background:#fff;
}
.footer.VIEW{
	overflow:auto;
	max-height:100%;margin-bottom:-100px;
	padding-bottom:100px;
	transition:max-height 1s;
}
.footer .maxW{border:none;}
.footer .topBtn{
	display:block !important;
	position:absolute;right:0;bottom:100%;
	height:44px;width:140px;line-height:44px;
	text-align:center;
	background:#000;
}
.footer.VIEW .topBtn{
	margin-bottom:-44px;
	background:#000 url(../images/footerBtnClose.png) no-repeat center;
}
.footer.VIEW .topBtn img{display:none;}