#rooms{
	clear:both;
	padding:100px 0;
	text-align:center;
}
#rooms .wrapMax{
	margin:15px auto 0 auto;
	width:1480px; 
	max-width:90%;
	font-size:0;
}
#rooms .wrapMax a{
	display:inline-block;

	padding:15px;
}
#rooms .paper{
	padding:10px 10px 30px 10px;
	font-size:12px;line-height:12px;color:#a1a1a1;
	border:1px solid #e6e4e4;
	box-shadow:18px 18px 5px rgba(0,0,0,0.05);
	transition:box-shadow 0.3s;
}
#rooms a:hover .paper{
	border:1px solid #c5a7a7 ;
	box-shadow:18px 18px 5px rgba(0,0,0,0.3);
}
#rooms .paper .loader{
	padding-top:52.09%;
}
#rooms .paper h6{
	padding-top:30px;padding-bottom:7px;
	font-size:24px;line-height:24px;color:#a2a2a2;
}
